font_size 20
ui_font JetBrainsNL
status_bar_font_size 20
ui_background_color #191716
touchpad_sensitivity 0.8
ruler_mode 0
visual_mark_color  1.0  0.0  0.0  0.1
background_color #000000
overview_size 0.6 0.25
overview_offset 0.0 0.020151
prerender_page_count 20
should_warn_about_user_key_override 0
should_launch_new_window 1
